.solutions-list {
  height: calc(95vh - 50px);
  overflow: auto;
  border: 2px solid var(--light-bright);
  padding: 12px;
  border-radius: 12px;

  li {
    color: var(--black);
  }

  p {
    color: var(--dark);
  }

  .solution-sources-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 16px;

    .solution-source {
      border: 1px solid var(--light-bright);
      border-radius: 8px;
      padding: 12px;
      cursor: pointer;
    }
  }

  .logs-container {
    border: 2px solid var(--light-bright);
    padding: 12px;
    border-radius: 12px;
    height: 300px;
    overflow-y: auto;

    p {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      align-items: center;
    }

    p:not(:last-child) {
      border-bottom: 1px solid var(--light-bright);
    }
  }
}