<div *ngIf="activeIssue" class="solutions-list mt-3">
    <h3>
        {{'FEATURES.ISSUES.INSIGHTS' | translate}}
    </h3>

    <p class="mb-3">
      {{activeIssue.logSummary}}
    </p>
    <div class="logs-container mb-3" *ngIf="activeIssue.logs.length">
        <p *ngFor="let log of activeIssue.logs" class="m-0">{{log}}</p>
    </div>
    <p class="mb-3">
        {{activeIssue.predictedSolutionsSummary}}
    </p>
    <h3>{{'FEATURES.ISSUES.SOURCES' | translate}}</h3>
    <div class="solution-sources-container">
        <div class="solution-source" *ngFor="let solutionSource of activeIssue.issuePredictedSolutionsSources" (click)="goToSolutionSource(solutionSource.url)">
            <h4>{{solutionSource.title}}</h4>
        </div>

    </div>
</div>
