.solutions-list {
  height: calc(95vh - 50px);
  overflow: auto;
  border: 2px solid var(--light-bright);
  padding: 12px;
  border-radius: 12px;

  li {
    color: var(--black);
  }

  p {
    color: var(--dark);
  }

  .solution-sources-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 16px;

    .solution-source {
      border: 1px solid var(--light-bright);
      border-radius: 8px;
      padding: 12px;
      cursor: pointer;
    }
  }

  .logs-container {
    border: 2px solid var(--light-bright);
    padding: 12px;
    border-radius: 12px;
    max-height: 300px;
    overflow-y: auto;

    p {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      align-items: center;
    }

    p:not(:last-child) {
      border-bottom: 1px solid var(--light-bright);
    }
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--white);
  }

  .likes-container {
    border: 1px solid var(--light-bright);
    display: flex;
    width: 9rem;
    font-size: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 12px;
    margin-top: 1rem;

    i {
      color: black;
      opacity: .2;
      cursor: pointer;

      &.score-selected {
        opacity: 1;
      }
    }
    .divider {
      height: 3rem;
      width: 3px;
      background-color: var(--light-bright);
    }
  }
}