.solutions-list {
  border: 2px solid var(--light-bright);
  border-radius: 8px;
  height: calc(95vh - 50px);
  overflow: auto;
  padding: 12px;
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 100px
  }

  li {
    color: var(--black);
  }

  p {
    color: var(--dark);
  }

  .solution-sources-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .solution-source {
      border: 1px solid var(--light-bright);
      border-radius: 8px;
      cursor: pointer;
      padding: 12px;
      width: 100%;

      h4 {
        margin-bottom: 0;
        word-break: break-all;
      }

      &:focus-visible {
        outline: 2px solid var(--primary);
      }
    }
  }

  .logs-container {
    border: 2px solid var(--light-bright);
    border-radius: 8px;
    max-height: 300px;
    overflow-y: auto;
    padding: 12px;

    &::-webkit-scrollbar {
      width: 12px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 100px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 100px
    }

    .accordion-button {
      &:focus {
        box-shadow: none;
      }
    }

    p {
      align-items: center;
      display: flex;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    p:not(:last-child) {
      border-bottom: 1px solid var(--light-bright);
    }
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--white);
  }

  .likes-container {
    align-items: center;
    border: 1px solid var(--light-bright);
    border-radius: 8px;
    display: flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: space-between;
    padding: 0 1rem;
    width: 7rem;

    i {
      color: var(--primary);
      cursor: pointer;
      opacity: .2;
      transition: 0.5s all;

      &.score-selected {
        opacity: 1;
      }
    }
    .divider {
      background-color: var(--light-bright);
      height: 2rem;
      width: 1px;
    }
  }

  .reload-button {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-left: 1rem;
    width: 2rem;
  }
}