:root {
  --black: #000000;
  --color-critical: #db0202;
  --color-info: #85e5ff;
  --color-warning: #f5c907;
  --dark: #4E4E4E;
  --deep-bright: #BFCAE8;
  --grey: #757575;
  --light-bright: #EAF2FD;
  --light-gray: #BDBDBD;
  --pale: #F4F9FD;
  --primary: #3f51b5;
  --primary-dark: #1f3195;
  --strong-white: #fcfcfc;
  --invalid-color: #DC3944;
  --white: #ffffff;
}
