.accordion-button {
  border-bottom: 2px solid var(--light-bright);;
}

.accordion-button, .accordion-body {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--strong-white);

  h3 {
    color: var(--primary) !important;
    margin-bottom: 0 !important;
  }
}

.accordion-body {
  .custom-checkbox {
    display: flex;

    .form-label {
      margin-left: 0.5rem !important;
    }

    .input-checkbox {
      &:focus-visible {
        outline: 2px solid var(--primary);
      }
    }
  }
}

.accordion-header {
  margin-bottom: 0;
  
  .accordion-button.collapsed {
    &::after {
      color: var(--primary);
    }
  }
}
