<div class="issue-container" [ngClass]="isSelected ? 'selected' : ''">
    <div class="row align-items-center">
        <div class="col-1">
            <ng-container [ngSwitch]="issue.severity">
                <svg *ngSwitchCase="IssueSeverity.WARNING" class="bi bi-exclamation-triangle-fill warning-icon"
                     height="24" viewBox="0 0 16 16"
                     width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <svg *ngSwitchCase="IssueSeverity.CRITICAL" class="bi bi-x-circle-fill critical-icon" height="24"
                     viewBox="0 0 16 16"
                     width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
                <svg *ngSwitchCase="IssueSeverity.INFO" class="bi bi-info-circle-fill info-icon" height="24"
                     viewBox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
            </ng-container>
        </div>
        <div class="col-11">
            <h6>{{issue.title}}</h6>
            <p>{{issue.containerName}}</p>
        </div>
    </div>
</div>