#registration-container {
  background-color: var(--strong-white);
  border: 2px solid var(--light-bright);
  border-radius: 12px;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding: 2rem;
  width: 50%;

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (min-width: 1200px) {
    width: 40%;
  }

  @media (min-width: 1500px) {
    width: 35%;
  }

  @media (min-width: 1800px) {
    width: 30%;
  }

  .login-content-container{
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .btn-container {
      border-radius: 9px;
      &:focus-visible {
        outline-color: var(--primary);
      }

      .btn {
        border: none;
        border-radius: 16px;
        padding: 0.5rem 1rem;
        transition: 0.2s all;

        &.github {
          background-color: black !important;
          color: white;
          &:hover {
            box-shadow: 0 0 3px 3px rgba(#000000, 0.3);
          }
        }

        &.google {
          background-color: #4285f4;
          color: white;
          &:hover {
            box-shadow: 0 0 3px 3px rgba(#4285f4, 0.3);
          }
        }

        .bi {
          margin-right: 0.25rem;
        }
      }
    }
  }
  
  .login-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  p {
    color: var(--black);
  }

  .login-section-divider {
    display: flex;
    align-items: center;

    p {
      color: var(--light-gray);
      margin-bottom: 0;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .divide-bar {
      width: 100%;
      background-color: var(--light-gray);
      height: 1px;
    }
  }
}