#issues-list-container {
  overflow-y: auto;
  height: calc(100vh - 320px);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 100px
  }
}