<div class="dropdown" (click)="$event.stopPropagation()">
    <button aria-expanded="false" #dropdownButton class="btn btn-secondary dropdown-toggle p-0" data-bs-toggle="dropdown"
            type="button">
        <i class="bi bi-gear"></i>
    </button>
    <div class="dropdown-menu" #dropdownMenu>
        <div class="form-group mb-3">
            <label class="form-label"
                   for="searchString">{{'UI.CONFIGURATION_DROPDOWN.API_KEY' | translate}}</label>
            <input [(ngModel)]="huggingfaceApiKey" [placeholder]="'UI.CONFIGURATION_DROPDOWN.API_KEY' | translate"
                   class="form-control"
                   id="searchString"
                   [ngClass]="{'invalid': isSubmitted && !huggingfaceApiKey}"
                   required
                   type="text">
            <div *ngIf="!huggingfaceApiKey && isSubmitted" class="invalid-feedback mt-0 mb-3">
                <div>{{ 'VALIDATION.REQUIRED' | translate }}</div>
            </div>
        </div>
        <!-- <button class="btn btn-primary submit-button" (click)="">{{'UI.SUBMIT' | translate}}</button> -->
    </div>
</div>