<div class="dropdown" (click)="$event.stopPropagation()">
    <button aria-expanded="false" #dropdownButton class="btn btn-secondary dropdown-toggle p-0" data-bs-toggle="dropdown"
            type="button">
        <i class="bi bi-gear"></i>
    </button>
    <div class="dropdown-menu" #dropdownMenu>
        <div class="form-group mb-3">
            <label class="form-label"
                   for="searchString">{{'UI.CONFIGURATION_DROPDOWN.AGENT_STATE' | translate}}</label>
            <div class="agent-state-toggle">
            <label>Off</label>
            <mat-slide-toggle
                   [checked]="agentState.state"
                   (change)="setAgentState($event)"></mat-slide-toggle>
            <label>On</label>
            </div>
        </div>
    </div>
</div>