#header {
  @include sides-spacing();
}

body {
  font-size: 16px !important;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500 !important;
  }

  h1 {
    font-size: 36px !important;
  }

  h2 {
    font-size: 31px !important;
  }

  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 20px !important;
  }
}
