<div id="header">
  <a href="#" class="logos-container">
    <svg-icon
      class="img-logo"
      src="assets/image/signal_img_logo.svg"
      alt="Signal0ne"
    ></svg-icon>
    <svg-icon
      class="text-logo"
      src="assets/image/signal_text_logo.svg"
      alt="Signal0ne"
    ></svg-icon>
  </a>
  <div class="d-flex align-items-center controls-container">
    <app-configuration-dropdown
      *ngIf="configurationService.isCurrentAgentStateInitialized && (isLoggedIn$ | async)"
    ></app-configuration-dropdown>
    <button
      *ngIf="isLoggedIn$ | async"
      class="sign-out-icon bi bi-box-arrow-left"
      tabindex="0"
      (click)="logOut()"
    ></button>
    <div
      *ngIf="activeLanguage$ | async as activeLanguage"
      class="flags-container"
    >
      <img
        (click)="changeLanguage(LanguageVersion.EN)"
        (keydown)="changeLanguageKeydown(LanguageVersion.EN, $event)"
        [alt]="'UI.HEADER.US_FLAG_ALT' | translate"
        [ngClass]="activeLanguage === LanguageVersion.EN ? 'active' : ''"
        tabindex="0"
        class="me-3"
        src="assets/flag/US.png"
      />
      <img
        (click)="changeLanguage(LanguageVersion.PL)"
        (keydown)="changeLanguageKeydown(LanguageVersion.PL, $event)"
        [alt]="'UI.HEADER.PL_FLAG_ALT' | translate"
        [ngClass]="activeLanguage === LanguageVersion.PL ? 'active' : ''"
        tabindex="0"
        src="assets/flag/PL.png"
      />
    </div>
  </div>
</div>
