.password-toggle {
  position: relative;

  > input {
    ~ .password-toggle-icon {
      position: absolute;
      top: 55%;
      right: 0.75rem;
      display: block;
      width: 18px;
      height: 18px;
      mask-image: url('^assets/image/eye_on.png');
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: var(--primary);
      transform: translateY(-50%);
      cursor: pointer;

      &:focus-visible {
        background-color: var(--primary-dark);
      }
    }

    &[type="text"] ~ .password-toggle-icon {
      mask-image: url('^assets/image/eye_off.svg');
    }
  }

  > label + input {
    ~ .password-toggle-icon {
      top: 45px;
      transform: none;
    }
  }
}
