<div id="issues-dashboard" [ngClass]="isSidebarHidden ? 'sidebar-hidden' : ''">
    <app-issues-left-panel (criteriaChanged)="searchIssues($event)" (viewIssue)="viewIssue($event)"
                           [containers]="containers"
                           [max]="max"
                           [internalPage]="activePage"
                           [isSidebarHidden]="isSidebarHidden"
                           (toggleSidebarVisibility)="isSidebarHidden = !isSidebarHidden"
                           [issues]="issues"></app-issues-left-panel>
    <app-issues-right-panel [activeIssue]="activeIssue" class="w-100"></app-issues-right-panel>
</div>