@mixin sides-spacing {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 992px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1200px) {
    padding-left: 46px;
    padding-right: 46px;
  }

}