:root {
  --primary: #3f51b5;
  --light-bright: #EAF2FD;
  --deep-bright: #BFCAE8;
  --pale: #F4F9FD;
  --strong-white: #fcfcfc;
  --light-gray: #BDBDBD;
  --dark: #4E4E4E;
  --primary-dark: #1f3195;
  --invalid-color: #DC3944;
}
